<% include partials/header %>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" id="background-image">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
    
     <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../assets/glen-jackson-242973.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="../assets/wolfgang-lutz-26516.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
      
      
    <div class="item">
      <img src="../assets/robson-hatsukami-morgan-178532.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div> 
      
     <div class="item">
      <img src="../assets/sayan-nath-165552.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
      
     
      
      
  </div>
    
    
    
    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!-- Jumbotron -->
<div class="container">
<div class="jumbotron" id="jumbotron-landing">
    
    <h1 class="caption"><span class="glyphicon glyphicon-tent
"></span> Welcome to GoCamp!</h1>
    <a href="/campground" class="btn btn-danger btn-lg">View all campgrounds</a>
</div>
    


</div>

    


<% include partials/footer %>