<% include ./partials/header %>

<div class="container" id="login-container">
     <h1>Login!</h1>
    <div id="login-form">
    <form action="/login" method="POST" >
        <div class="form-group" >
            
            <input type="text" name="username" placeholder="username" class="form-control" >
            <input type="password" name="password" placeholder="password" class="form-control" >
            
            <button type="submit" class="btn btn-success btn-block">Login</button>
            

        </div>
        
        
        
        
    </form>
    </div>
    
    
    
</div>




<% include ./partials/footer %>
