<% include ./partials/header %>

<div class="container" id="register-container">
     <h1>Sign Up!</h1>
    <div id="register-form">
    <form action="/register" method="POST" >
        <div class="form-group" >
            
            <input type="text" name="username" placeholder="username" class="form-control" >
            <input type="password" name="password" placeholder="password" class="form-control" >
             
          <button type="submit" class="btn btn-success btn-block">Sign Up</button>
            

        </div>
        
        
        
    </form>
        </div>
    
    
    
    
</div>




<% include ./partials/footer %>
