
body, html{
    height: 100%;
}

.navbar-default{
    
    margin-bottom: 0px;
}


.thumbnail .caption-full p{
    
    
    clear:both;
}

#comment {
    
    clear: both;
}

#comment-text{
    clear:both;
}

.thumbnail img {
    width :100%;
}


#addComment{
    
    margin-bottom: 10px;
    
}

.caption-full{
    
    padding:9px;
}

#delete {
    
    display:inline;
}

#login-container, #register-container,#campground-container, #comment-container{
    
    text-align: center;
}

#login-form, #register-form, #campground-form, #comment-form{
    
    width:33%;
    margin: 0 auto;
    display: inline-block;
}

#index-thumbnail {
    
    text-align: center;
}


input{
    
   margin: 10px 0px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    
    width:100%;
    height: 100%;
    margin-top:0px;
    opacity:0.9;
    
}

.carousel,.item,.active{height:100%;}

.carousel-inner{height:100%;}

.carousel-indicators{
    
    bottom:30px;
}

#jumbotron-landing  {
    
    
    position:absolute;
    
   
    margin: 0 auto;
    background-color: transparent;
    
    text-align: center;
    top: 30%;
    left:20%;
    color: #F5F2F7;
   

;
}

#jumbotron-landing .caption {
    
    text-shadow:  2px 1px 10px black
}